[Unit]
Description=XDTunnel IP Limit Monitor Daemon
Documentation=https://t.me/SukaPediaCS
After=network.target xray.service
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/sbin/login.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=xdtunnel-login

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
